/* CSS BY Bryan Gonzalez */


/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ROOT VARIABLES */
:root {
    /* Color Palette */
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    /* Fonts */
    --font-primary: 'Playfair Display', serif;
}

body {
    font-family: var(--font-primary);
    background-color: var(--soft-white);
    color: var(--dark-charcoal);
    line-height: 1.6;
}


/* GLOBAL STYLES (mobile first/small) */
h1, h3, h4 {
    color: var(--midnight-blue);
    text-align: center;
    margin-bottom: 0.5em;
    font-weight: 500;
    font-family: var(--font-primary);
}

h1 {
    font-size: 4.5rem;
    color: var(--linen);
    font-weight: bold;
    margin: 0;
}

h2 {
    color: var(--midnight-blue);
    font-size: 2.2rem;
    margin: 1em 0 0em 0;
    text-align: left;
    font-weight: 500;
}

h3 {
    font-size: 1.3rem;
    margin-top: 1.5em;
    padding-left: 5%;
    text-align: left;
}

p {
    color: var(--dark-charcoal);
}

a {
    color: var(--midnight-blue);
    text-decoration: none;
    font-family: var(--font-primary);
}

main {
    box-sizing: content-box;
    padding: 0 5%; 
    max-width: 100%; 
    margin: 0 auto;
}

section {
    padding: 1.5em 0;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

/* --- HEADER / NAVIGATION --- */
header {
    background-color: var(--midnight-blue);
    text-align: center;
    padding: 20px 0 0px 0;
}

.logo {
    width: 230px; 
    display: block;
    margin: 0 auto;
}

.tagline {
    color: var(--linen);
    font-style: italic;
    font-size: 1.4rem;
    font-family: var(--font-primary);
    margin-top: 0;
    margin-bottom: 22px;
}

.main-nav {
    background-color: var(--champagne-gold);
    font-size: 1.6rem;
    font-weight: 800;
}

.main-nav ul {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 10%;
    display: flex; 
    justify-content: space-around;
}

.main-nav li a {
    color: var(--midnight-blue);
    padding: 0 10px;
}


/* --- About Us Section --- */
#about-us p {
    border-bottom: 2.5px solid var(--champagne-gold);
    padding-bottom: 1em; 
    margin-bottom: 1.5em;
    font-size: 1.2rem;
}


/* --- Offerings Section --- */
.offering-item {
    padding: 15px;
    margin: 0 0 15px 0; 
    border-radius: 5px;
    background-color: var(--olive-green);
    box-shadow: #2B2B2B -4px 4px 10px -6px; 
    color: var(--soft-white);
    font-family: var(--font-primary);
}

#offerings h2 {
    margin-top: -1.5em;
    margin-bottom: 0.6em;
}

.offering-item h4 {
    color: var(--soft-white);
    font-size: 2rem; 
    text-align: left;
    font-weight: 600;
    margin-bottom: -2px;
}

.offering-item p,
.offering-item ul,
.offering-item li {
    color: var(--soft-white);
    font-size: 1.2rem;
}

.offering-item ul {
    padding-left: 20px;
}

#offerings {
    border-bottom: 2.5px solid var(--champagne-gold);
    padding-bottom: 1.5em;
}


/* --- Gallery Section --- */
#gallery h2 {
    margin-top: 0em; 
}

.gallery-item {
    background-color: var(--soft-white); 
    box-shadow: #2B2B2B 0 6px 12px -7px;
    border-radius: 10px;
    overflow: hidden;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-item figcaption {
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
    padding: 10px 15px 15px 15px;
    color: var(--dark-charcoal);
    font-family: var(--font-primary);
}

.gallery-link {
    display: block;
    padding: 15px 15px;
    text-align: center;
    background-color: var(--olive-green);
    color: var(--soft-white);
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: bold;
    font-family: var(--font-primary);
    margin-top: 1em;
    margin-bottom: 0em;
}

#gallery {
    border-bottom: 2.5px solid var(--champagne-gold);
    padding-bottom: 1.5em;
    margin-bottom: 2em;
}


/* --- Footer --- */
footer {
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
    padding: 30px 5%;
    font-family: var(--font-primary);
}

footer p {
    color: var(--soft-white);
    font-size: 1.2em;
}

footer a {
    color: var(--champagne-gold);
    display: block;
    font-weight: bold; 
}

footer li {
    font-size: 1.2em;
}


/* --- MEDIA QUERY (medium) --- */
@media (min-width: 768px) {
    
    main {
        max-width: 1000px;

    }
    
    #offerings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px 30px;
    }
    
    .offering-item:nth-child(2) {
        grid-column: 1 / span 1; 
        grid-row: 2;
    }

    .offering-item:nth-child(3) {
        grid-column: 2 / span 1; 
        grid-row: 2;
    }
    
    #monthly-basket {
        grid-column: 1 / span 2; 
        grid-row: 3;
    }
    
    .gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


/* --- MEDIA QUERY (large) --- */
@media (min-width: 1024px) {
    
    main {
        max-width: 1200px;
        padding: 0 10%;
    }
    
    #about-us p {
        margin-bottom: 1em; 
    }

    .gallery-container {
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    
    .gallery-item:nth-child(4) {
        grid-column: 1 / span 1; 
        grid-row: 2; 
    }
    
    .gallery-item:nth-child(5) {
        grid-column: 2 / span 1;
        grid-row: 2; 
    }
    
}

/* --- MEDIA QUERY (x-large) --- */
@media (min-width: 1400px) {
    
    main {
        max-width: 1400px;
        padding: 0 10%; 
    }
    
    #offerings {
        grid-template-columns: 1fr 1fr; 
        gap: 10px 30px;
    }

    .gallery-container {
        grid-template-columns: repeat(5, 1fr); 
        gap: 15px;
    }
    
    .gallery-item:nth-child(4),
    .gallery-item:nth-child(5) {
        grid-row: auto;
        grid-column: auto;
    }
    
}